<!-- Describe task in general -->
<p>
    Ця місія натхненна <a target="_blank" href="https://www.facebook.com/BrianBilston/posts/pfbid0PnieZPXmdzgNy6vWzRjFkDsKch4YvTCEJv65LS5sGa4daYoygbHJcG1TVK5Nw9SGl">публікацією</a> Brian Bilston'a у Facebook.
</p>
<p style="text-align: center;">
    <img  title="poem" src="{{MEDIA}}poem.png" alt="poem" style="max-height: 200px"/>
</p>
<p>
    Розбий даний текст (літери і " .,!?:;") на {% if is_js %}масив{% else %}ітеративний об'єкт{% endif %} з рядків, де кожен рядок включає кількість слів, що дорівнює поточному <a target="_blank" href="https://uk.wikipedia.org/wiki/Послідовність_Фібоначчі">числу Фібоначчі</a>.
</p>
<p>
    Ось деякі додаткові роз'яснення:
    <ul>
        <li>Послідовність Фібоначчі починається з 0, 1, але результуючий {% if is_js %}масив{% else %}ітеративний об'єкт{% endif %} повинен містити тільки непусті рядки;</li>
        <li>у випадку, якщо не достатньо слів для завершення поточного рядка - доповни до коректної довжити "_";</li>
        <li>знаки пунктуації вважаються частиною попереднього слова.</li>
    </ul>
</p>
<p>Давай поглянемо на схематичний приклад ("w" як позначення слова):</p>
<pre>
"w w w w w w w w" -> ["w", "w", "w w", "w w w", "w _ _ _ _"]
</pre>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> Рядок.
</p>

<p>
    <strong>Вихідні дані:</strong> {% if is_js %}Масив{% else %}Список або інший ітеративний об'єкт (кортеж, генератор, ітератор){% endif %} з рядків.
</p>

<p>
    <strong>Приклади:</strong>
</p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
